@(offer: Form[views.formdata.OfferFormData])

@import bootstrap3.text
@import bootstrap3.datepicker
  @import bootstrap3.clockpicker


<fieldset>
  <!-- Header -->

   <!-- Start Point -->
  @text(offer("startPoint"),
        label = "Start",
        placeholder = "z.B. Karlsruhe",
        help = "Bitte geben sie einen Startpunkt ein")

    <!-- Target Point -->
    @text(offer("targetPoint"),
    label = "Ziel",
    placeholder = "z.B. Berlin",
    help = "Bitte geben sie ein Ziel ein")


    <!-- Start date -->
  @datepicker(offer("date"),
    label = "Datum",
    placeholder = "20.03.2015",
    help="Bitte geben sie ein Datum an",
    "dpoffer"
    )

    <!-- Time -->
  @clockpicker(offer("time"),
    label = "Startzeit",
    placeholder = "9:00",
    help = "Bitte wählen sie eine Startzeit aus")

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="submit" type="submit" value="Submit" class="btn btn-primary">Einstellen</button>
      <button id="cancel" class="btn cancel">Abbrechen</button>
    </div>
  </div>
</fieldset>
