@(offer: Form[views.formdata.OfferFormData])

@import bootstrap3.text
@import bootstrap3.datepicker
  @import bootstrap3.timepicker

<fieldset>
  <!-- Header -->
  <div id="legend">
    <legend>Angebot erstellen</legend>
  </div>

   <!-- Start Point -->
  @text(offer("startPoint"),
        label = "Start",
        placeholder = "z.B. Karlsruhe",
        help = "Bitte geben sie einen Startpunkt ein")

    <!-- Target Point -->
    @text(offer("targetPoint"),
    label = "Ziel",
    placeholder = "z.B. Berlin",
    help = "Bitte geben sie ein Ziel ein")


    <!-- Start date -->
  @datepicker("dpoffer",
  offer("date"),
  "Datum")



    <!-- Start date -->
  @timepicker("tpoffer",
    offer("time"),
    "Abfahrtszeit")




  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button id="submit" type="submit" value="Submit" class="btn btn-primary">Einstellen</button>
      <button id="cancel" class="btn cancel">Abbrechen</button>
    </div>
  </div>
</fieldset>
