@(message: String)

@main("Home") {

    <div class="container">
        <div class="well">
            <div id="legend">
                <legend><h1>Das Pick Me Up, Car Projekt!</h1></legend>
            </div>

            @if(!session.isEmpty && !session.get("username").isEmpty) {
                <div class="well">
                    <div id="success-message" class="text-success">
                     Hallo @session.get("username")
                    </div>
                </div>

            }




            <p class="lead">
                Diese Seite befindet sich noch im Aufbau
                <br>
                Angebote können schon zum testen eingestellt werden :)

            </p>
            <p><a class="btn btn-primary btn-lg" role="button" href="/register">Registrieren &raquo;</a></p>

        </div>
    </div>


}
