@(login: Form[views.formdata.LoginFormData])

@import helper._
@import fieldsets.fieldsetlogin

@main("Login") {
  <div class="container">
    <div class="well">

    @form(routes.Authentication.postLoginForm(), 'class -> "form-horizontal") {
      @fieldsetlogin(login)
    }
    </div>

    @if(flash.containsKey("success")) {
      <div class="well">
        <div id="success-message" class="text-success">
        @flash.get("success")
        </div>
      </div>
    }
    @if(flash.containsKey("error")) {
      <div class="well">
        <div id="error-message" class="text-danger">
        @flash.get("error")
        </div>
      </div>
    }
  </div>
}