@(title: String)

<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <!--  Display three horizontal lines when navbar collapsed. -->
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">@title</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

          @* Home page is active. *@
          @if(!session.isEmpty && !session.get("connected").isEmpty) {
              <li class=@{
                  if(request.path == routes.OfferController.getOfferForm().toString()) "active" else ""
              }>
                  <a href="@routes.OfferController.getOfferForm()">Angebot einstellen</a>
              </li>
          }
          <li class=@{if(request.path == routes.OfferController.getLastOffers().toString()) "active" else ""}>
              <a href="@routes.OfferController.getLastOffers()">Angebote</a>
          </li>

          @if(session.isEmpty){
              <li class=@{if(request.path == routes.Authentication.getLoginForm().toString()) "active" else ""}>
                  <a href="@routes.Authentication.getLoginForm()">Login</a>
              </li>
          }
          @if(!session.isEmpty && !session.get("connected").isEmpty){
              <li class=@{if(request.path == routes.Authentication.logout().toString()) "active" else ""}>
                  <a href="@routes.Authentication.logout()">Logout</a>
              </li>
          }




      </ul>

    </div>

  </div>
</div>