@(offers: List[views.formdata.OfferFormData])(offer: Form[views.formdata.SearchOfferFormData])
@import com.sun.demo.jvmti.hprof.Tracker


@main("Angebote") {
  <div class="container-fluid">
    <div class="well">

      @searchOffers(offer)

      <div class="row">
        <div class="col-sm-6 col-md-offset-3">
      <div id="legend">
        <legend><h2>Gefundene Angebote</h2></legend>
      </div>


          @for(p <- offers) {

            <div class="panel panel-info">
              <div class="panel-heading">
                <h3 class="panel-title">@p.date @p.time Uhr - @p.getUserName</h3>
              </div>
              <div class="panel-body">
                <b>Von:</b> @p.startPoint <b>Nach:</b> @p.getTargetPoint


              </div>
            </div>
          }

    </div>
  </div>
    </div>
  </div>
}
