@(offer: Form[views.formdata.SearchOfferFormData])

@import helper._
@import fieldsets.fieldsetsearchoffer

    <div class="row">
        <div class="col-sm-6 col-md-offset-3">
            <div id="legend">
                <legend><h2>Angebote suchen</h2></legend>
            </div>

        @form(routes.OfferController.postSearchRasults(), 'class -> "form-horizontal") {
        @fieldsetsearchoffer(offer)

        }
    </div>

    @if(flash.containsKey("success")) {

    }
    @if(flash.containsKey("error")) {
    <div class="well">
        <div id="error-message" class="text-danger">
            @flash.get("error")
        </div>
    </div>
    }
</div>